@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slidein {
    from {
        margin-right: -20%;
    }

    to {
        margin-right: 0%;
    }
}

.modal-fade{
    animation: slidein 250ms cubic-bezier(0.28, 1.03, 1, 1) forwards;
}


